<h2>CHANGE USERNAME</h2>
<%- include('../partials/msg_flash') %>
<form action="/auth/change-username" method="POST">
	<label for="newUsername">New Username:</label>
	<input type="text" name="newUsername" /><br /><br />

	<label for="password">Password:</label>
	<input type="password" name="password" /><br /><br />

	<input type="submit" value="Login" />
</form>
