<h2>CHANGE PASSWORD</h2>
<%- include('../partials/msg_flash') %>
<form action="/auth/change-password" method="POST">
	<label for="oldPassword">Old Password:</label>
	<input type="password" name="oldPassword" /><br /><br />

	<label for="newPassword">New Password:</label>
	<input type="password" name="newPassword" /><br /><br />

	<input type="submit" value="Change" />
</form>
