<h2>DELETE USER</h2>
<%- include('../partials/msg_flash') %>
<form action="/ssr/auth/delete-user" method="POST">
	<label for="password">Password:</label>
	<input type="password" name="password" /><br /><br />

	<input type="submit" value="Delete" />
</form>
