<h2>Register</h2>
<%- include('../partials/msg_flash') %>
<form action="/ssr/auth/register" method="POST">
	<label for="username">Username:</label>
	<input type="text" name="username" /><br /><br />

	<label for="password">Password:</label>
	<input type="password" name="password" /><br /><br />

	<input type="submit" value="Register" />
</form>
