<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">SFolk001</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="/about">About</a>
				<a class="nav-item nav-link" href="/session-info">Sesson Info</a>
				<div class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="authSessionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Auth-Passport</span>
					<div class="dropdown-menu" aria-labelledby="authSessionDropdown">
						<a class="dropdown-item" href="/auth/login">Login</a>
						<a class="dropdown-item" href="/auth/logout">Logout</a>
						<a class="dropdown-item" href="/auth/user">User</a>
						<a class="dropdown-item" href="/auth/change-username">Change Username</a>
						<a class="dropdown-item" href="/auth/change-password">Change Password</a>
						<a class="dropdown-item" href="/auth/register">Register</a>
						<a class="dropdown-item" href="/auth/delete-user">Delete User</a>
					</div>
				</div>
				<a class="nav-item nav-link disabled" href="/auth-jwt" tabindex="-1">Auth-JWT</a>
			</div>
		</div>
	</nav>
</header>
